.all-campuses-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.campus-card-container {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-bottom: 50px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.campus-card {
	display: flex;
	flex-direction: column;
	margin: 10px;
	background-color: white;
}

.campus-picture-container {
	margin: 10px 10px 0px 10px
}

.campus-picture {
	border: 1px solid #000;
	max-width: 200px;
	max-height: 200px;
}

.campus-info {
	text-align: left;
	margin-left: 15px
}