.App {
  text-align: center;
  background-color: #a9a9a9;
  min-height: 100vh;
}

h1 {
  font-size: 3.7em;
  font-family: Trebuchet MS;
  font-style: oblique;
  color: #ee818e;
  text-shadow: 2px 2px 4px black;
}
