.App {
  text-align: center;
  background-image: url(https://cdn.tourcms.com/a/11676/848/1/large.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  font-size: 3.7em;
  font-family: Trebuchet MS;
  font-style: oblique;
  color: #ee818e;
  text-shadow: 2px 2px 4px #e8e8e8;
}
