.App {
  text-align: center;
  /*background-color: #282c34; */
  background-image: url(https://cdn.tourcms.com/a/11676/848/1/large.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.all-students-container,
.all-campuses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.student-card-container,
.campus-card-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.student-card,
.campus-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: grey;
}

.profile-container {
  display: flex;
  margin: 10px;
  background-color: gray;
}

div.profile-container img {
  width: 200px;
}

.profile-picture-container,
.campus-picture-container {
  margin: 10px 10px 0px 10px;
}

.profile-picture,
.campus-picture {
  border: 1px solid #000;
  max-width: 200px;
  max-height: 200px;
}

.student-info,
.campus-info {
  text-align: left;
  margin-left: 15px;
}

h1 {
  font-size: 3em;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #ffb97b;
  padding: 10px;
  margin: 10px;
  width: 150px;
  font-size: 20px;
  font: "Verdana";
}

.button:hover {
  background-color: #ff9980; /* Green */
  color: white;
}
