ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 75px;
}

li {
  float: right;
}


li:hover {
  background-color: #262626;
}

.left{
  float:left;
}

.logo {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size:30px;
  font-weight: bold;
}

.logo:hover{
  background-color:black;
}

.item{
  float:right;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size:30px;
  font-weight: bold;
}
